In [2]:
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [3]:
import sqlite3

In [4]:
#cria uma conexão com o banco de dados
#se o banco de dados não existir, ele é criado no momento
con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [ ]:
#criando um cursor
cur = con.cursor()

In [6]:
#cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key,'\
'titulo varchar(100),'\
'categoria varchar(140))'\

In [8]:
cur.execute(sql_create)

In [9]:
sql_insert = 'insert into cursos values(?, ?, ?)'

In [11]:
#Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data', 'Big Data'),
          (1002, 'Python Fundamentos', 'Analise de Dados')]

In [12]:
#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
con.commit()

In [14]:
sql_select = 'select * from cursos'

In [15]:
cur.execute(sql_select)
dados = cur.fetchall()

In [19]:
#Mostra os dados do Select
for linha in dados:
    print('Curso id: %d, Titulo: %s, Categoria: %s' % linha)

Curso id: 1000, Titulo: Ciência de Dados, Categoria: Data Science
Curso id: 1001, Titulo: Big Data, Categoria: Big Data
Curso id: 1002, Titulo: Python Fundamentos, Categoria: Analise de Dados

In [20]:
#fechar conexão
con.close()