In [2]:
import pandas as pd

In [5]:
arq = 'arquivos/salarios.csv'
df = pd.read_csv(arq)

In [7]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [9]:
df.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8174.000000   25528.000000  8174.000000
mean       34.364448   89061.795000    34.586450
std         9.420849   21132.041408    13.285543
min        10.000000   14160.000000     2.650000
25%        20.000000   76266.000000    22.360000
50%        40.000000   90024.000000    37.450000
75%        40.000000   98292.000000    43.720000
max        40.000000  275004.000000   128.000000